python-3.12.2
aiogram==3.10.0
pandas==2.1.4
openpyxl==3.1.2
aiosmtplib==2.0.1
psutil==5.9.6
python-dotenv==1.0.1
aiohttp==3.9.3
aiofiles==23.2.1
tenacity==8.2.3
prometheus-client==0.19.0
XlsxWriter==3.1.9
sqlalchemy==2.0.25
aiosqlite==0.19.0
python-multipart==0.0.6
